<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SF947V5MMV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SF947V5MMV');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
    name="title"
    content="Manage Your Files | Tenacity File Management"
    />
    <meta
      name="description"
      content="Organize, access, and manage your project files effortlessly with Tenacity's secure file management system."
    />
    <meta
      name="keywords"
      content="file management, project files, secure storage, file organization, Tenacity files, cloud files, store files"
    />
    <title>Tenacity | My Files</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/files.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Google+sans|Lobster"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='icons/logo.png') }}"
      type="image/png"
    />
  </head>
  <body>
    <div class="container">
      <div id="sidebar">
        <h1 id="logo" onclick="window.location.href='/'">            
          <a href="/" style="text-decoration: none; color: inherit"
          >Tenacity</a>     
        </h1>
        <div
          class="sidebar-section"
          id="home"
          onclick="window.location.href='/home'"
        >
          <img src="{{ url_for('static', filename='icons/home.png') }}" />
          <a href="/home" style="text-decoration: none; color: inherit"
          >Home</a>   
        </div>
        <div
          class="sidebar-section"
          id="dashboard"
          onclick="window.location.href='/dashboard'"
        >
          <img src="{{ url_for('static', filename='icons/dashboard.png') }}" />
          <a href="/dashboard" style="text-decoration: none; color: inherit"
          >Dashboard</a>   
        </div>
        <div
          class="sidebar-section"
          id="files"
          onclick="window.location.href='/files'"
        >
          <img src="{{ url_for('static', filename='icons/folder.png') }}" />
          <a href="/files" style="text-decoration: none; color: inherit"
          >My Files</a>   
          <div id="marker"></div>
        </div>
        <div
          class="sidebar-section"
          id="upload"
          onclick="window.location.href='/upload'"
        >
          <img src="{{ url_for('static', filename='icons/upload.png') }}" />
          <a href="/upload" style="text-decoration: none; color: inherit"
          >Upload</a>   
        </div>
        <a class="others1" onclick="window.location.href='/logout'"
          ><span id="red">Log Out</span>➜]</a
        >
      </div>
      <div id="main-content">
        <div id="header">
          <input id="fade-in-1" placeholder="Search Files..." />
          <select id="sort-options" tooltip="Sort Files">
            <option value="date" id="fade-in-2">Date</option>
            <option value="name" id="fade-in-2">Name</option>
            <option value="size" id="fade-in-2">Size</option>
          </select>
        </div>
        <div id="hidden-prompt" class="fade-in-2">
          <img src="/static/icons/files.png" alt="Files Icon" />
          <h1>No Files?, No Problem!</h1>
          <button onclick="window.location.href='/upload'">Upload Files</button>
        </div>
      <div class="table-container" id="fade-in-2">
        <table id="file-list" border="1">
          <thead>
            <tr>
              <th>FILE NAME</th>
              <th class="mobile">SIZE</th>
              <th class="mobile">TYPE</th>
              <th class="mobile">LAST MODIFIED</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
          <!-- Files will be dynamically added here -->
          </tbody>
        </table>
      </div>
    </div>
    <div id="toast-container"></div> 
    <script src="{{ url_for('static', filename='javascript/files.js') }}"></script>
  </body>
</html>
