<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-SF947V5MMV"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-SF947V5MMV");
    </script>
    <meta charset="UTF-8" />
    <meta
      name="google-site-verification"
      content="UhdTP_wRYGTbWETi_gbgGR1wZHrnn30aseXwR7PUgZU"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Tenacity",
        "url": "https://www.tenacity.ct.ws",
        "logo": "https://www.tenacity.ct.ws/static/icons/logo.png",
        "sameAs": [
          "https://x.com/Tenacity_Cloud",
          "https://www.reddit.com/user/NaiveSpare2680/",
          "https://betalist.com/@Tenacity_Cloud"
        ]
      }
    </script>
    <meta name="title" content="100GB Free Storage | Tenacity Cloud Storage" />
    <meta
      name="description"
      content="Tenacity Cloud offers free, 100GB, secure cloud storage with end-to-end encryption. Store, share, and access files anywhere. Try Tenacity Cloud Storage today!"
    />
    <meta
      name="keywords"
      content="Tenacity Cloud Storage, Tenacity Cloud, Tenacity, free cloud storage 100gb, secure file sharing, cloud storage online, Tenacity file upload"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Google+sans|Lobster|Roboto"
    />
    <link
      rel="icon"
      href="/static/icons/logo.png"
      type="image/png"
      sizes="32x32"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&amp;family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;family=Lora:ital,wght@0,400..700;1,400..700&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&amp;family=Sour+Gummy:ital,wght@0,100..900;1,100..900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&amp;family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;family=Lora:ital,wght@0,400..700;1,400..700&amp;family=Open+Sans:ital,wght@0,300..800;1,300..800&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&amp;family=Sour+Gummy:ital,wght@0,100..900;1,100..900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&amp;family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;family=Lora:ital,wght@0,400..700;1,400..700&amp;family=Open+Sans:ital,wght@0,300..800;1,300..800&amp;family=Playwrite+HR+Lijeva:wght@100..400&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&amp;family=Sour+Gummy:ital,wght@0,100..900;1,100..900&amp;display=swap"
      rel="stylesheet"
    />
    <title>
      Tenacity Cloud Storage | Secure File Sharing & Free Cloud Storage
    </title>
  </head>
  <body>
    <a
      href="https://www.producthunt.com/posts/tenacity?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-tenacity"
      target="_blank"
      ><img
        src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=949129&theme=light&t=1744580929840"
        alt="Tenacity - Simple&#0032;and&#0032;concise&#0032;cloud&#0032;storage&#0032;platform&#0046; | Product Hunt"
        style="width: 250px; height: 54px"
        width="250"
        class="fixed-badge"
        height="54"
    /></a>
    <div class="header">
      <h1 id="title">
        <a href="/" style="text-decoration: none; color: inherit">Tenacity</a>
      </h1>
      <h2 id="motto">"Save, Innovate, Create"</h2>
      <button
        id="log-in"
        class="log-in"
        onclick="window.location.href='/register'"
      >
        <a href="/login" style="text-decoration: none; color: inherit"
          >Log In</a
        >
      </button>
    </div>
    <div id="main-section" class="fade-in-1">
      <h1 class="fade-in-1">The <span>Ultimate</span> Hub for Your Files</h1>
      <p class="fade-in-1">
        "Save not only what you hold, but the possibilities of what can be."
      </p>
      <div id="img-container" class="fade-in-2">
        <img src="/static/icons/folder.png" alt="File Icon" />
        <div class="arrow">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <img src="/static/icons/cloud.png" alt="Cloud Icon" />
      </div>
      <button
        id="sign-up"
        onclick="window.location.href='/register'"
        class="fade-in-3"
      >
        <a href="/register" style="text-decoration: none; color: inherit"
          >Start your journey</a
        >
      </button>
    </div>
    <div id="second-section">
      <video autoplay="" loop="" muted="" id="video" class="fade-in-1">
        <source
          src="/static/icons/earth-animation.webm"
          type="video/webm"
          loading="lazy"
        />
        Your browser does not support WebM.
      </video>
      <div>
        <h1>Seamless, Secure</h1>
        <p>
          Store 100GB of files online and retrieve them from any device with an
          internet connection, anywhere, anytime.
        </p>
        <button onclick="window.location.href='/register'">
          <a href="/register" style="text-decoration: none; color: inherit"
            >Sign Up</a
          >
        </button>
      </div>
    </div>
    <div id="third-section">
      <img src="/static/icons/review.png" alt="Review Icon" loading="lazy" />
      <div id="comment-section">
        <h2>Don't Listen to me, Listen to them!</h2>
        <div id="comment">
          <div id="comment-header">
            <div id="pfp" class="ian"></div>
            <h3>Ian <span>★★★★☆</span></h3>
          </div>
          <p>
            The interface is almost intuitive, and the upload speed is
            surprisingly decent.<i>
              I guess I should be grateful for finally feeling somewhat
              organized, though having to access my files from anywhere is a
              standout feature.</i
            >
          </p>
        </div>
        <div id="comment">
          <div id="comment-header">
            <div id="pfp" class="ivy"></div>
            <h3>Ivy <span>★★★★★</span></h3>
          </div>
          <p>
            This service has completely transformed the way I manage my files.<i>
              The easy integration with my devices makes it easy to save and
              retrieve files on the go. Highly recommend it for anyone looking
              for a reliable and user-friendly solution!</i
            >
          </p>
        </div>
      </div>
    </div>
    <div id="footer-section">
      <h1>Socials:</h1>
      <div id="logo-container">
        <div
          target="_blank"
          id="youtube"
          onclick="window.open('https://www.youtube.com/channel/UCNFFuukNWEgUSXjk52w2JcA', '_blank')"
        >
          <img
            src="/static/icons/youtube.png"
            alt="Review Icon"
            loading="lazy"
          />
        </div>
        <div
          target="_blank"
          id="instagram"
          onclick="window.open('https://www.instagram.com/tenacity_cloud_storage/?next=%2F', '_blank')"
        >
          <img
            src="/static/icons/instagram.png"
            alt="Review Icon"
            loading="lazy"
          />
        </div>
        <div
          target="_blank"
          id="twitter"
          onclick="window.open('https://x.com/Tenacity_Cloud', '_blank')"
        >
          <img
            src="/static/icons/twitter.png"
            alt="Review Icon"
            loading="lazy"
          />
        </div>
      </div>
      <div id="divider"></div>
      <h2>&copy; 2025 Tenacity. All rights reserved.</h2>
    </div>
    <script src="/static/javascript/index.js"></script>
  </body>
</html>
