<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-SF947V5MMV"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-SF947V5MMV");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="title"
      content="Login to Your Tenacity Account | Secure Access"
    />
    <meta
      name="description"
      content="Securely log in to your Tenacity account and manage your projects effortlessly. Access your dashboard and continue where you left off."
    />
    <meta
      name="keywords"
      content="Tenacity login, account access, project management login, secure login, user login, login"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login-styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Google+sans|Lobster"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='icons/logo.png') }}"
      type="image/png"
    />
    <title>Tenacity | Log In</title>
  </head>
  <body>
    <div class="header">
      <h1 id="title" onclick="window.location.href='/'">
        <a href="/" style="text-decoration: none; color: inherit">Tenacity</a>
      </h1>
      <h2 id="motto">"Fall seven times, stand up eight."</h2>
      <button class="log-in" onclick="window.location.href='/register'">
        <a href="/register" style="text-decoration: none; color: inherit"
          >Sign Up</a
        >
      </button>
    </div>
    <div class="container" id="fade-in-1">
      <h1 id="fade-in-2">Log In</h1>
      <form
        action="{{ url_for('login') }}"
        method="POST"
        id="fade-in-3"
        spellcheck="false"
      >
        <label for="email">Email:</label>
        <input
          placeholder="example@gmail.com"
          type="text"
          id="email"
          name="email"
          autocorrect="off"
          required
        />

        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="PineappleOnPizza4Life!"
          autocorrect="off"
        />

        <button type="submit">Login</button>
      </form>
    </div>
    <div id="toast-container"></div>
    <script>
      // Show toast messages
      function showToast(message, type = "info") {
        const toastContainer = document.getElementById("toast-container");
        const toast = document.createElement("div");
        toast.className = `toast ${type}`;
        toast.textContent = message;

        toastContainer.appendChild(toast);

        // Remove the toast after the animation ends
        setTimeout(() => {
          toast.remove();
        }, 3500);
      }

      // Check for an error message passed from Flask
      const errorMessage = "{{ error }}";
      console.log("{{error}}");
      if (errorMessage) {
        showToast(errorMessage);
      }
    </script>
  </body>
</html>
